body {
    font-family: Arial, sans-serif;
}
.section{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 430px;
    height: 400px;
    width: 500px;
    background-color:#97d3ff;
    border-radius: 40px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    color:#111a35;
    font-size: 20px;
}

label{
    margin: 5px 0;
}
input{
    padding: 5px;
    margin: 5px 0;
    background-color: #e2faff;
    border-style: none;
    border-radius: 24px;
    height: 30px;
}

.boton{
    width: 300px;
    height: 40px;
    margin: 15px 0;
    background-color: #111a35;
    padding: 5px;
    color: white;
    border-radius: 23px;
    border: none;
    font-size: 16px;
    padding: 5px;
}
